<p>
  <%= form_for(bot) do |f| %>
    <% if bot.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(bot.errors.count, "error") %> prohibited this bot from being saved:</h2>

        <ul>
        <% bot.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :name %><br/>
      <%= f.text_field :name, :class => "form-control" %>
    </div><br/>

    <div class="field">
      <%= f.label :description %><br/>
      <%= f.text_field :name, :class => "form-control" %>
    </div><br/>

    <div class="actions">
      <%= f.submit "Save", :class => "btn btn-primary" %>
    </div>
  <% end %>
</p>

<% unless bot.new_record? %>
  <hr>
  <table class="table" id="collaborators-table">
    <thead>
      <tr>
        <th>Collaborators</th>
        <th style="text-align:right">
          <%= form_tag add_collaborator_path(bot), class: "form-inline", remote: true do %>
            <div class="form-group">
              <%= select_tag :collaborator, options_for_select(bot.eligible_collaborators), { :multiple => false, :class => "form-control selectpicker add-collaborator-picker", "data-live-search" => true, "data-actions-box" => true, "data-dropup-auto" => false, :title => "Add a collaborator" } %>
            </div>
            <div class="form-group actions">
              <%= submit_tag "Add", :class => "btn btn-primary" %>
            </div>
          <% end %>
        </th>
      </tr>
    </thead>
    <tbody>
      <% User.with_role(:collaborator, bot).each do |user| %>
        <%= render 'collaborator', :user => user, :bot => bot %>
      <% end %>
    </tbody>
  </table>
<% end %>
