<%= form_for(bot) do |f| %>
  <% if bot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bot.errors.count, "error") %> prohibited this bot from being saved:</h2>

      <ul>
      <% bot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br/>
    <%= f.text_field :name, :class => "form-control" %>
  </div><br/>
  <div class="field">
      <%= f.label :collaborators %>
      <ul>
		<% User.with_role(:collaborator, bot).each do |user| %>
			<p><%= user.username %> <%= link_to 'Remove', url_for(controller: :bots, action: :remove_collaborator, bot: bot.id, collaborator: user.id), :method => :delete, :data => { :confirm => "Are you sure you want to do this?" } %></p>
		<% end %>
	  </ul>
  </div>

  <div class="actions">
    <%= f.submit "Save", :class => "btn btn-primary" %>
  </div>
<% end %>

<%= form_tag(url_for(controller: :bots, action: :add_collaborator, bot: bot.id)) do %>
<div class="field">
    <%= label_tag :collaborator, "Add Collaborator" %>
    <%= text_field_tag :collaborator, nil, placeholder: "user ID" %>
</div>


<div class="actions">
    <%= submit_tag "Add" %>
</div>

<% end %>
