<% @bots.in_groups_of(3).each do |group| %>
  <div class="row">
    <% group.compact.each do |bot| %>
      <div class="bot-dash-module col-md-4">
        <h3><%= bot.name %></h3>
        <p><%= bot.description %></p>
        <p><strong>Instances</strong></p>
        <ul>
          <% bot.bot_instances.each do |instance| %>
            <li>
              <code><%= link_to instance.location, url_for(:controller => :bot_instances, :action => :show, :bot_id => bot.id, :id => instance.id) %></code>
              <em>(alive: <span class="<%= instance.status_class %>" title="<%= instance.last_ping %>"><%= time_ago_in_words instance.last_ping %> ago</span>,
                   owner: <%= instance.user.username %>)</em>
            </li>
          <% end %>
        </ul>
        <% if current_user.present? and current_user.has_role? :owner, bot %>
          <%= link_to "edit", edit_bot_path(bot) %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<%= link_to "New bot", new_bot_path %>
