<p id="notice"><%= notice %></p>

<h1>Bots</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bots.each do |bot| %>
      <tr>
        <td><%= bot.name %></td>
        <td><%= link_to 'Show', bot %></td>
        <td><%= link_to 'Edit', edit_bot_path(bot) %></td>
        <td><%= link_to 'Destroy', bot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bot', new_bot_path %>
