<li id="instance-<%= instance.id %>">
  <code><%= instance.location %></code>
  <em>(alive: <span class="instance-status <%= instance.status_class %>" title="<%= instance.last_ping %>">
                                <%= instance.last_ping.nil? ? "never" : time_ago_in_words(instance.last_ping) + " ago" %></span>,
    owner: <%= instance.user.username %>,
    version: <%= instance.version %>)</em>
    <% if instance != instance.bot.preferred_instance %>
      <span class="label label-primary ">Standby</span>
    <% end %>
</li>
