<h3>Bot instances for <%= @bot.name %></h3>

<ul>
  <% @bot_instances.each do |instance| %>
    <li>
      <strong><code><%= instance.location %></code></strong><br/>
      <strong>Last pinged:</strong> <span class="<%= instance.status_class %>">
        <% if instance.last_ping.present? %><%= time_ago_in_words(instance.last_ping) %> ago<% else %>Never<% end %></span><br/>
      <strong>Owner:</strong> <%= instance.user.username %>

      <% if user_signed_in? && instance.user == current_user %>
        <br/>
        <a href="#" class="owner-instance-key" data-key="<%= instance.key %>">Key</a> &middot;
        <%= link_to "Edit", url_for(controller: :bot_instances, action: :edit, bot_id: @bot.id, id: instance.id) %> &middot;
        <%= link_to "Delete", url_for(controller: :bot_instances, action: :destroy, bot_id: @bot.id, id: instance.id),
                    class: "text-danger", method: :delete, data: { confirm: "Are you sure you want to do this?" } %>
      <% end %>
    </li><br/>
  <% end %>
</ul>

<% if user_signed_in? && (current_user.has_any_role? ({name: :owner, resource: @bot, name: :collaborator, resource: @bot}))%>
  <%= link_to "Create New", new_bot_bot_instance_path %>
<% end %>
